.container-fluid#main-screen
  #main-wrapper.d-flex.align-items-center.justify-content-center.flex-column
    .row.text-center.align-items-center.justify-content-center.w-100.mb-5
      %h1.text-white.text-uppercase.font-oswald.display-3
        Welcome to the future of education
    .container
      .row.w-100
        .col-6.text-center
          %em.h2.text-white.font-oswald
            pre-ICO will start at 15 of March, 2018!
          .progress.mt-3
            .progress-bar.progress-bar-striped.progress-bar-animated.font-oswald{style: "width: #{100 - (Date.parse('2018-03-15') - Date.today).to_i}%"}
              = (Date.parse('2018-03-15') - Date.today).to_i
              days left
          .btn-group.mt-3.w-100
            = link_to 'White Paper', '#', class: 'btn btn-info btn-block'
            = link_to 'Check Beta', root_path, class: 'btn btn-info'
            = link_to 'Chat', '#', class: 'btn btn-info'
            = link_to 'Notify me', '#', class: 'btn btn-danger'
          %ul#social.nav.w-100.nav-justified.mt-3
            %li.nav-item
              = link_to '', class: 'text-white nav-link' do
                %i.fab.fa-facebook.fa-2x
            %li.nav-item
              = link_to '', class: 'text-white nav-link' do
                %i.fab.fa-vk.fa-2x
            %li.nav-item
              = link_to '', class: 'text-white nav-link' do
                %i.fab.fa-twitter.fa-2x
            %li.nav-item
              = link_to '', class: 'text-white nav-link' do
                %i.fab.fa-telegram-plane.fa-2x
            %li.nav-item
              = link_to '', class: 'text-white nav-link' do
                %i.fab.fa-github.fa-2x
        .col-6
          .embed-responsive.embed-responsive-16by9
            %iframe.embed-responsive-item{src: "https://www.youtube.com/embed/-XjFpvAC3zo?rel=0&showinfo=0", allowfullscreen: true}

  .row#particles
.container-fluid#main-menu
  .row
    .col-12.py-3#menu
      %ul.nav.nav-pills.text-uppercase.w-100.nav-justified
        %li.nav-item
          = link_to 'About', '#about', class: 'nav-link', data: {turbolionks: false}
        %li.nav-item
          = link_to 'Roadmap', '#roadmap', class: 'nav-link', data: {turbolionks: false}
        %li.nav-item
          = link_to 'Mission', '#', class: 'nav-link', data: {turbolionks: false}
        %li.nav-item
          = link_to 'ICO', '#', class: 'nav-link', data: {turbolionks: false}
        %li.nav-item
          = link_to 'Team', '#', class: 'nav-link', data: {turbolionks: false}
        %li.nav-item
          = link_to 'Join', '#', class: 'nav-link', data: {turbolionks: false}
%hr
%section.container.pt-3#about
  %h1.font-oswald.text-uppercase.text-center.mb-5
    About Verify
  .row
    .col-7
      Easy verify is blockchain platform for connecting employers, universities and candidates.
      Our services fit into three groups:
      %p.mt-3
        %strong
          Employers
        can easy verify qualification before hiring a personnel.
      %p
        %strong
          Universities
        get trusted and valid documents, that nobody can faked.
      %p
        %strong
          Students and candidates
        become more competitive with trusted documents of education.
    .col-5.text-center
      %i.fas.fa-graduation-cap.fa-10x
%hr
%section.container#roadmap
  %h1.font-oswald.text-uppercase.text-center.mb-5
    Roadmap
  .row
    .col-12
      .roadline.border.border-danger
      #roadlist
        .col-9
          .h3.font-oswald.text-uppercase.text-right
            Make MVP
          .small.text-right
            Completed
          %p.text-right
            Made an easy and trusted service for qualification check
        .col-3.text-right
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse
              NOW
      #roadlist-inverse
        .col-3.text-left
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse{data: {fa:{transform: 'up-2'}}}
              2018
            %span.fa-layers-text.fa-inverse.small{data: {fa:{transform: 'down-25'}}}
              march
        .col-9
          .h3.font-oswald.text-uppercase.text-left
            ICO
          %p.text-left
            Made an easy and trusted service for qualification check
      #roadlist
        .col-9
          .h3.font-oswald.text-uppercase.text-right
            Connect more universities
          .small.text-right
            Completed
          %p.text-right
            Made an easy and trusted service for qualification check
        .col-3.text-right
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse{data: {fa:{transform: 'up-2'}}}
              2018
            %span.fa-layers-text.fa-inverse.small{data: {fa:{transform: 'down-25'}}}
              summer
      #roadlist-inverse
        .col-3.text-left
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse{data: {fa:{transform: 'up-2'}}}
              2018
            %span.fa-layers-text.fa-inverse.small{data: {fa:{transform: 'down-25'}}}
              autumn
        .col-9
          .h3.font-oswald.text-uppercase.text-left
            API development
          %p.text-left
            Made an easy and trusted service for qualification check
      #roadlist
        .col-9
          .h3.font-oswald.text-uppercase.text-right
            Integration with lead HR services
          .small.text-right
            Completed
          %p.text-right
            Made an easy and trusted service for qualification check
        .col-3.text-right
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse{data: {fa:{transform: 'up-2'}}}
              2019
            %span.fa-layers-text.fa-inverse.small{data: {fa:{transform: 'down-25'}}}
              begining
      #roadlist-inverse
        .col-3.text-left
          %span.fa-layers.fa-fw.fa-7x
            %i.fas.fa-circle
            %span.fa-layers-text.fa-inverse{data: {fa:{transform: 'up-2'}}}
              25
            %span.fa-layers-text.fa-inverse.small{data: {fa:{transform: 'down-25'}}}
              century
        .col-9
          .h3.font-oswald.text-uppercase.text-left
            Blockchain world
          %p.text-left
            Made an easy and trusted service for qualification check
%hr
