.container-fluid
	.row#offer
		.container.align-items-center.d-flex#bg-offer.justify-content-center
			.row.justify-content-center
				.display-1.mb-4.font-weight-bold.font-oswald.text-info.text-center
					Easy Verify
				%h1.display-4.text-center.text-white.w-75.font-oswald
					= t('main_offer')
				%br
				.text-center
					= link_to t('main_btn.more'), '#more-info', class: 'btn btn-outline-light btn-lg', data: {turbolinks: false}
					= link_to t('main_btn.check'), '#login', class: 'btn btn-outline-light btn-lg', data: {turbolinks: false}
				.row.w-100.text-center.text-white
					%em.h2.w-100
						= t('suboffer')

.container#more-info.pt-5.align-items-center
	%h2.my-5.text-center.text-uppercase.font-weight-bold.text-info
		= t('offer_2')
	.card-deck.pt-5
		.card
			.card-header.bg-info.text-white
				.h3.text-center
					=t('screen_2.offer1')
			.card-body

				.lead.font-oswald.text-center
					=t('screen_2.head1')
				%p.text-justify
					= t('screen_2.text1')
			.card-footer
				= link_to employers_path, class: 'btn btn-outline-info btn-sm btn-block' do
					=t('main_btn.more')
					%i.fas.fa-share
		.card
			.card-header.bg-info.text-white
				.h3.text-center
					=t('screen_2.offer2')
			.card-body
				.lead.font-oswald.pl-2.text-center
					=t('screen_2.head2')
				%p.pl-2.text-justify
					= t('screen_2.text2')
			.card-footer
				= link_to univs_path, class: 'btn btn-outline-info btn-sm btn-block' do
					=t('main_btn.more')
					%i.fas.fa-share
	.row.mt-5.pt-5
		.col-12.text-center
			= link_to t('header.signin'), '#', class: 'btn btn-info btn-lg'

.container-fluid#how-it-works
	.row#offer
		.container.align-items-center#bg-offer
			.col-12
				%h2.my-5.text-center.text-uppercase.font-weight-bold.text-info.w-100
					= t('screen3.offer')
			.row.mt-5
				#step1
					.h3.font-oswald.text-center.text-white
						.fa-2x.text-info
							%span.fa-layers.fa-fw
								%i.fas.fa-circle
								%span.fa-layers-text.fa-inverse.fa-xs
									1
						= t('screen3.step1')
					%p.text-center.text-white
						= t('screen3.text1')
				#step2
					.h3.font-oswald.text-center.text-white
						.fa-2x.text-info
							%span.fa-layers.fa-fw
								%i.fas.fa-circle
								%span.fa-layers-text.fa-inverse.fa-xs
									2
						= t('screen3.step2')
					%p.text-center.text-white
						= t('screen3.text2')
				#step3
					.h3.font-oswald.text-center.text-white
						.fa-2x.text-info
							%span.fa-layers.fa-fw
								%i.fas.fa-circle
								%span.fa-layers-text.fa-inverse.fa-xs
									3
						= t('screen3.step3')
					%p.text-center.text-white
						= t('screen3.text3')
			.row
				.col-12.text-center.my-5
					= link_to t('header.signin'), '#', class: 'btn btn-outline-light btn-lg mx-5'
					= link_to t('main_btn.more'), faq_path, class: 'btn btn-outline-light btn-lg mx-5'




