.container-fluid#footer.text-white.py-5
  .container
    .row
      #info
        .h3.mb-3.font-oswald
          = t("footer.info")
        %ul.nav.justify-content-center.flex-column
          %li
            = link_to t('footer.about'), about_path, class: 'text-white text-uppercase'
          %li
            = link_to t('footer.terms'), '#', class: 'text-white text-uppercase'
          %li
            = link_to t('footer.privacy'), '#', class: 'text-white text-uppercase'
        = link_to t('footer.contact'), '#', class: 'btn btn-danger text-uppercase'
      #links
        .h3.mb-3.font-oswald
          = t('footer.links')
        %ul.nav.justify-content-center.flex-column
          %li
            = link_to t('header.for_hr'), employers_path, class: 'text-white text-uppercase'
          %li
            = link_to t('header.for_univs'), univs_path, class: 'text-white text-uppercase'
          %li
            = link_to 'FAQ', faq_path, class: 'text-white text-uppercase'
          %li
            = link_to 'ICO', ico_path, class: 'text-white text-uppercase'
          %li
      #contact
        .h3.mb-3.font-oswald
          = t('footer.contacts')
        #social
          = link_to '', class: 'text-white' do
            %i.fab.fa-facebook.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-vk.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-twitter.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-telegram-plane.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-github.fa-2x.mr-2
        #contacts
          %p
            info@easy-verify.io
            %br
            + 1(999) 767-34-23

