.container-fluid#footer.text-white.py-5
  .container
    .row
      #info
        .h3.mb-3.font-oswald
          Информация
        %ul.nav.justify-content-center.flex-column
          %li
            = link_to 'О компании', '#', class: 'text-white text-uppercase'
          %li
            = link_to 'Условия и положения', '#', class: 'text-white text-uppercase'
          %li
            = link_to 'Политика конфиденциальности', '#', class: 'text-white text-uppercase'
        = link_to 'Свяжитесь с нами!', '#', class: 'btn btn-danger text-uppercase'
      #links
        .h3.mb-3.font-oswald
          Ссылки
        %ul.nav.justify-content-center.flex-column
          %li
            = link_to 'Для HR', '#', class: 'text-white text-uppercase'
          %li
            = link_to 'Для учебных заведений', '#', class: 'text-white text-uppercase'
          %li
            = link_to 'FAQ', '#', class: 'text-white text-uppercase'
          %li
            = link_to 'ICO', '#', class: 'text-white text-uppercase'
          %li
      #contact
        .h3.mb-3.font-oswald
          Контакты
        #social
          = link_to '', class: 'text-white' do
            %i.fab.fa-facebook.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-vk.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-twitter.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-telegram-plane.fa-2x.mr-2
          = link_to '', class: 'text-white' do
            %i.fab.fa-github.fa-2x.mr-2
        #contacts
          %p
            info@easy-verify.io
            %br
            + 1(999) 767-34-23

