.container-fluid.bg-info
  .row
    .container
      %nav.navbar.navbar-expand-lg
        = link_to 'Easy Verify', root_path, class: 'navbar-brand text-white'
        %button.navbar-toggler{data: {toggle: 'collapse', target: '#headerNav'}}
          %i.fas.fa-bars.text-white
        .collapse.navbar-collapse.justify-content-end#headerNav
          %ul.navbar-nav.text-white
            %li.nav-item.mx-2.dropdown
              = link_to 'Наши сервисы', '#', class: 'nav-link dropdown-toggle text-white', data: {toggle: 'dropdown'}
              .dropdown-menu
                = link_to 'Для HR', employers_path, class: 'dropdown-item '
                = link_to 'Для университетов и организаций', univs_path, class: 'dropdown-item'
            %li.nav-item.mx-2
              = link_to 'О нас', about_path, class: 'nav-link text-white'
            %li.nav-item.mx-2
              = link_to 'ICO', about_path, class: 'nav-link text-white'
            %li.nav-item.mx-2
              = link_to 'Войти', '#service', class: 'nav-link text-white'
            %li.nav-item.mx-2
              = link_to 'Регистрация', '#service', class: 'nav-link btn btn-outline-light'
