.container-fluid.bg-info
  .row
    .container
      %nav.navbar.navbar-expand-lg
        = link_to root_path, class: 'navbar-brand text-white' do
          %i.fas.fa-check-circle
          Easy Verify
        %button.navbar-toggler{data: {toggle: 'collapse', target: '#headerNav'}}
          %i.fas.fa-bars.text-white
        .collapse.navbar-collapse.justify-content-end.text-uppercase#headerNav
          %ul.navbar-nav.text-white
            - unless signed_in?
              %li.nav-item.mx-2.dropdown
                = link_to t('header.our_services'), '#', class: 'nav-link dropdown-toggle text-white', data: {toggle: 'dropdown'}
                .dropdown-menu
                  = link_to t('header.for_hr'), employers_path, class: 'dropdown-item '
                  = link_to t('header.for_univs'), univs_path, class: 'dropdown-item'
              %li.nav-item.mx-2
                = link_to t('header.about_us'), about_path, class: 'nav-link text-white'
              %li.nav-item.mx-2
                = link_to 'ICO', ico_path, class: 'nav-link text-white'
            - unless signed_in?
              %li.nav-item.mx-2
                = link_to t('header.login'), sign_in_path, class: 'nav-link text-white'
              %li.nav-item.mx-2
                = link_to t('header.signup'), sign_up_path, class: 'nav-link btn btn-danger'
            - else
              %li.nav-item.mx-2.dropdown
                = link_to 'My account', '#', class: 'nav-link text-white dropdown-toggle', data: {toggle: 'dropdown'}
                .dropdown-menu
                  = link_to "Dashboard", my_acc_path, class: 'dropdown-item '
                  = link_to 'Buy coins', univs_path, class: 'dropdown-item'
                  = link_to 'API', univs_path, class: 'dropdown-item'
                  = link_to 'Sign Out', sign_out_path, class: 'dropdown-item', method: :delete
              %li.nav-item.mx-2
                = link_to 'Send request', '#', class: 'nav-link btn btn-danger', data: {toggle: 'modal', target: '#modal-alpha'}
            %li.nav-item.mx-2.dropdown
              = link_to I18n.locale.capitalize, '#', class: 'nav-link dropdown-toggle text-white', data: {toggle: 'dropdown'}
              .dropdown-menu.dropdown-menu-right
                - I18n.available_locales.each do |l|
                  = link_to l.capitalize,"/#{l}", class: 'dropdown-item'
