.container-fluid.bg-info
  .row
    .container
      %nav.navbar.navbar-expand-lg
        = link_to 'Easy Verify', root_path, class: 'navbar-brand text-white'
        %button.navbar-toggler{data: {toggle: 'collapse', target: '#headerNav'}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse.justify-content-end
          %ul.navbar-nav.text-white
            %li.nav-item.mx-2.dropdown
              = link_to 'Наши сервисы', '#', class: 'nav-link dropdown-toggle text-white', data: {toggle: 'dropdown'}
              .dropdown-menu
                = link_to 'Для HR', '#', class: 'dropdown-item '
                = link_to 'Для университетов и организаций', '#', class: 'dropdown-item'
            %li.nav-item.mx-2
              = link_to 'О нас', '#service', class: 'nav-link text-white'
            %li.nav-item.mx-2
              = link_to 'Войти', '#service', class: 'nav-link text-white'
            %li.nav-item.mx-2
              = link_to 'Регистрация', '#service', class: 'nav-link btn btn-outline-light'
