!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		= csrf_meta_tags
		= display_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.6/js/all.js'
		= javascript_include_tag	'big-slide.js'

		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
	%body
		#wrapper
			= render 'layouts/header' unless @disable_header
			= yield
		= render 'layouts/footer'

		.modal#modal-alpha.p-0{role: 'dialog'}
			.modal-dialog.m-0.w-100
				.modal-content.w-100
					.modal-header
						.modal-title
						%button.close{data: {dismiss: 'modal'}}
							%i.fas.fa-times
					.modal-body.text-center
						.display-4.font-oswald
							In development
						.h3
							To get example data #{link_to t(".header.login"), sign_in_path}
							or #{link_to t(".header.signup"), sign_up_path}
						.lead.my-5
							We are hard working to make dream closer, if you want to track our progress join us in social media.
						#social
							= link_to '', class: 'text-info' do
								%i.fab.fa-facebook.fa-3x.mx-2
							= link_to '', class: 'text-info' do
								%i.fab.fa-vk.fa-3x.mx-2
							= link_to '', class: 'text-info' do
								%i.fab.fa-twitter.fa-3x.mx-2
							= link_to '', class: 'text-info' do
								%i.fab.fa-telegram-plane.fa-3x.mx-2
							= link_to '', class: 'text-info' do
								%i.fab.fa-github.fa-3x.mx-2
						.lead.my-3
							or get latest news via mail
						#form.m-auto
							.form-group
								= email_field_tag 'Email','', placeholder: 'Email', class: 'form-control'
							.form-group
								= submit_tag 'Subscribe', class: 'btn btn-danger'

